/* Place your CSS styles in this file */

body {background="download.jpeg">
}

h1 {font-family: times new roman; text-align:center ; font-weight: bolder;color: black;
}

p {font-family : times new roman; color: black; text-align:left;
}

ul {List-style-type:none;
    color : white;
    border : 50px;
    background-color : crimson;
    text-align: center;
}

Li {display : inline;
    padding-left : 50px;
    padding-right: 50px;
    font-size : 15px;
    font-family: caveat;
    font-weight: bold;
}

marquee {color : navy; 
         font : roboto;
}
